{% extends "speurtochten/layout.html" %} 
{% load static %} 

{% block body %}
    <div class="page-title">
        <p class="title-text">Stadsspeurtochten</p>
    </div>
    <div class="headers">
        <h3>Algemene voorwaarden</h3>
    </div>
    <div class="text-block-voorwaarden">
        Artikel 1 - Definities<br>
        Artikel 2 - Identiteit van de ondernemer<br>
        Artikel 3 - Toepasselijkheid<br>
        Artikel 4 - Aansprakelijkheid<br>
        Artikel 5 - Betalingstermijn<br>
        Artikel 6 - Garantie<br>
        Artikel 7 - Leveringsvoorwaarden<br>
        Artikel 8 - Herroepingsrecht<br><br>
      
        <b>Artikel 1 - Definities</b><br>
		In deze voorwaarden wordt verstaan onder:<br>
        1. Bedenktijd: de termijn waarbinnen de consument gebruik kan maken van zijn herroepingsrecht;<br>
        2. Consument: de natuurlijke persoon die niet handelt in de uitoefening van beroep of bedrijf en een overeenkomst op afstand aangaat met de ondernemer;<br>
        3. Dag: kalenderdag;<br>
        4. Duurzame gegevensdrager: elk middel dat de consument of ondernemer in staat stelt om informatie die aan hem persoonlijk is gericht, op te slaan op een manier die toekomstige raadpleging en ongewijzigde reproductie van de opgeslagen informatie mogelijk maakt.<br>
        5. Herroepingsrecht: de mogelijkheid voor de consument om binnen de bedenktijd af te zien van de overeenkomst op afstand;<br>
        6. Ondernemer: de natuurlijke of rechtspersoon die producten en/of diensten op afstand aan consumenten aanbiedt;<br>
        7. Overeenkomst op afstand: een overeenkomst waarbij in het kader van een door de ondernemer georganiseerd systeem voor verkoop op afstand van producten en/of diensten, tot en met het sluiten van de overeenkomst uitsluitend gebruik gemaakt wordt van één of meer technieken voor communicatie op afstand;<br>
        8. Techniek voor communicatie op afstand: middel dat kan worden gebruikt voor het sluiten van een overeenkomst, zonder dat consument en ondernemer gelijktijdig in dezelfde ruimte zijn samengekomen.<br>
        9. Algemene Voorwaarden: de onderhavige Algemene Voorwaarden van de ondernemer.<br><br>

        <b>Artikel 2 - Identiteit van de ondernemer</b><br>
        Stadsspeurtochten<br>
        Kattenburgerplein 61<br>
        1018KM Amsterdam<br>
        Nederland<br><br>

        Telefoon: 0031647068537<br>
        Email: info@stadsspeurtochten.nl<br>
        KVK: 86196898<br>
        BTW-nummer: NL004211160B55<br><br>
      
        <b>Artikel 3 - Toepasselijkheid</b><br>
        1. Deze algemene voorwaarden zijn van toepassing op elk aanbod van de ondernemer en op elke tot stand gekomen overeenkomst op afstand en bestellingen tussen ondernemer en consument.<br>
        2. Voordat de overeenkomst op afstand wordt gesloten, wordt de tekst van deze algemene voorwaarden aan de consument beschikbaar gesteld.<br>
        3. Indien de overeenkomst op afstand elektronisch wordt gesloten, zal de tekst van deze algemene voorwaarden langs elektronische weg aan de consument ter beschikking worden gesteld op zodanige wijze dat deze door de consument op een eenvoudige manier kan worden opgeslagen op een duurzame gegevensdrager. Indien dit redelijkerwijs niet mogelijk is, zal voordat de overeenkomst op afstand wordt gesloten, worden aangegeven waar van de algemene voorwaarden langs elektronische weg kan worden kennisgenomen en dat zij op verzoek van de consument langs elektronische weg zullen worden toegezonden.<br>
        4. Indien één of meerdere bepalingen in deze algemene voorwaarden op enig moment geheel of gedeeltelijk nietig zijn of vernietigd worden, dan blijft de overeenkomst en deze voorwaarden voor het overige in stand en zal de betreffende bepaling in onderling overleg onverwijld vervangen worden door een bepaling dat de strekking van het oorspronkelijke zoveel mogelijk benaderd.<br>
        5. Situaties die niet in deze algemene voorwaarden zijn geregeld, dienen te worden beoordeeld ‘naar de geest’ van deze algemene voorwaarden.<br>
        6. Onduidelijkheden over de uitleg of inhoud van één of meerdere bepalingen van onze voorwaarden, dienen uitgelegd te worden ‘naar de geest’ van deze algemene voorwaarden.<br><br>

        <b>Artikel 4 - Aansprakelijkheid</b><br>
        1. De ondernemer is niet aan sprakelijk voor schade of verlies die de consument ondervindt tijdens het gebruik van de door de ondernemer geleverde speurtocht of daarbuiten.<br>
        2. De consument maakt op eigen risico gebruik van de speurtocht. <br>
        3. Indien de consument door onvoorziene omstandigheden geen gebruik meer zal maken van een reeds betaalde speurtocht, is de ondernemer niet verantwoordelijk voor andere kosten dan de aanschaf van de speurtocht die de consument gemaakt heeft om de speurtocht te kunnen gebruiken.<br>
        4. De ondernemer is gerechtigd ten allen tijden de speurtochten te wijzigen en aan te passen. De vernieuwde speurtocht zal dan vergelijkbaar zijn met de vorige versie.<br>
        5. Alle afbeeldingen, specificaties en gegevens in het aanbod zijn een indicatie en kunnen geen aanleiding zijn tot schadevergoeding of ontbinding van de overeenkomst.<br><br>
      
        <b>Artikel 5 - Betalingstermijn</b><br>
        1. De overeenkomst komt tot stand zodra de consument de algemene voorwaarden heeft geaccepteerd en heeft betaald;<br>
        2. Na de betaling ontvangt de consument een code waarmee de speurtocht gestart kan worden binnen 24 uur op het door de consument geleverde e-mailadres.<br>
        3. Na bestelling en betaling van een speurtocht heeft de consument een jaar om de toegezonden code te gebruiken.<br><br>

        <b>Artikel 6 - Herroepingsrecht</b><br>
        1. De ondernemer behoudt het recht om speurtochten ten alle tijden aan te passen.<br>
        2. De ondernemer zal bij eventuele aanpassingen aan de speurtocht altijd streven naar kwalitatieve verbeteringen van de speurtocht.<br>
        3. Aangepaste speurtochten zullen vergelijkbaar zijn met de vorige versies qua afstand, aantal vragen en locatie.<br><br>

        <b>Artikel 7 - Leveringsvoorwaarden</b><br>
        1. De betaling geschiedt via een extern bedrijf, tenzij anders afgesproken.<br>
        2. De kosten voor de betaling zijn verwerkt in de prijs van de speurtocht.<br>
        3. De prijzen van de speurtochten zijn inclusief belastingen.<br>
        4. Het herroepingsrecht is van toepassing op elke speurtocht.<br>
        5. De speurtocht kan worden gestart met een code. Die code wordt naar het e-mailadres gezonden dat de consument opgegeven heeft.<br><br>

        <b>Artikel 8 - Herroepingsrecht</b><br>
		1. Bij levering van de speurtocht heeft de consument de mogelijkheid de overeenkomst zonder opgave van redenen te ontbinden gedurende ten minste 14 dagen, ingaande op de dag van het aangaan van de overeenkomst en mits er nog geen gebruik is gemaakt van de speurtocht.<br>
        2. Indien de consument een bedrag betaald heeft, zal de ondernemer dit bedrag zo spoedig mogelijk, doch uiterlijk binnen 14 dagen na herroeping, terugbetalen.<br>
        3. Terugbetaling zal geschieden via dezelfde betaalmethode die door de consument is gebruikt tenzij de consument nadrukkelijk toestemming geeft voor een andere betaalmethode.<br>
        4. Om gebruik te maken van zijn herroepingsrecht, zal de consument zich richten naar de ondernemer via de contactgegevens die op de website en in de e-mail genoemd worden.<br>
        5. Indien de consument wel al gebruik heeft gemaakt van de speurtocht, maar ontevreden is over de speurtocht, kan de consument ook binnen 14 dagen zich beroepen op het herroepingsrecht, mit de speurtocht niet meer dan half afgerond is.<br> 
        
	</div>
	<div id="algemene-voorwaarden">
        <a href="/static/files/algemene-voorwaarden-stadsspeurtochten.pdf" class="button-container" download>Download algemene voorwaarden</a>
    </div>  
    <div class="nav-menu-block">
        <ul class="nav-menu">
            <a class="nav-link" href="{% url 'speurtochten:index' %}">Home</a>
            <a class="nav-link" href="{% url 'speurtochten:overzicht' %}">Alle tochten</a>
            <a class="nav-link" href="{% url 'speurtochten:over' %}">Over</a>
            <a class="nav-link" href="{% url 'speurtochten:contact' %}">Contact</a>
        </ul>
    </div>
{% endblock %}